body, html {
    margin: 0px;
    background-color: #1f2430;
}

body {
    font-family: "Inter", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #e5e5e5;
}

#wrapper {
    border: 10px solid #e5e5e5;
    position: absolute;
    width: 750px;
    height: 750px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#canvas {
    position: absolute;
    filter: invert(0.9);
}
#keydetector {
    opacity: 0;
}
#lost {
    opacity: 0;
    background-color: #3339;
    transition: opacity 1s;
}
#lost-indicator ~ #lost {
    opacity: 1;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}
#lost-text {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: "Inter", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 100px;
    text-align: center;
    cursor: default;
}
#lost-text-2 {
    font-size: 50px;
    color: #adadad;
}
#keydetector {
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}
#clock {
    position: absolute;
    margin-left: 5px;
    font-family: "Fira Code", "Source Code Pro", monospace;
    font-size: 40px;
    line-height: 1;
    clip-path: polygon(0 0, 100% 0, 100% 1em, 0 1em);
}
#clock > * {
    display: inline-block;
}
.clock-digit {
    width: 1ch;
    vertical-align: top;
    position: relative;
    animation-iteration-count: infinite;
}
.clock-digit-6 {
    animation-name: clock-6;
    animation-timing-function: steps(6, jump-end);
}
.clock-digit-10 {
    animation-name: clock-10;
    animation-timing-function: steps(10, jump-end);
}
#minute-2 {
    animation-duration: 3600s;
}
#minute-1 {
    animation-duration: 600s;
}
#second-2 {
    animation-duration: 60s;
}
#second-1 {
    animation-duration: 10s;
}
#sixtieth-2 {
    animation-duration: 1s;
}
#sixtieth-1 {
    animation-duration: calc(1s / 6);
}
#lost-indicator ~ #clock > .clock-digit {
    animation-play-state: paused;
}
@keyframes clock-6 {
    0% {
        top: 0em;
    }
    100% {
        top: -6em;
    }
}
@keyframes clock-10 {
    0% {
        top: 0em;
    }
    100% {
        top: -10em;
    }
}
#text {
    right: 0;
    margin: 10px;
    font-size: 25px;
    text-align: right;
}
code {
    font-family: "Fira Code", "Source Code Pro", monospace;
}
